<%= form_for(@offical_account) do |f| %>
  <% if @offical_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offical_account.errors.count, "error") %> prohibited this offical_account from being saved:</h2>

      <ul>
      <% @offical_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit '确定',class:'t-btn-ok'%>
  </div>
<% end %>
