<p id="notice"><%= notice %></p>

<h1>Listing Weixin Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Openid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weixin_users.each do |weixin_user| %>
      <tr>
        <td><%= weixin_user.name %></td>
        <td><%= weixin_user.openid %></td>
        <td><%= link_to 'Show', weixin_user %></td>
        <td><%= link_to 'Edit', edit_weixin_user_path(weixin_user) %></td>
        <td><%= link_to 'Destroy', weixin_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weixin user', new_weixin_user_path %>
